/* CSS Document */
/*-------------------------------     首页      ----------------------------------------------*/
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,form,input,textarea,th,td,select,span{ margin:0; padding:0; }
body{font-family:Arial, Helvetica, sans-serif;}
em{ font-style:normal}
li{ list-style:none}
a{ text-decoration:none}
img{ border:none; vertical-align:top}
table{ border-collapse:collapse}
textarea{ resize:none; overflow:auto}
.clearfix:after{content:'.'; visibility:hidden; display:block; clear:both; line-height:0;}
.fl{float:left;}
.fr{float:right;}
.wrap{ width:1210px; margin:0 auto;}
.wrap1{ width:990px; margin:0 auto;}
#nav_top a{color:#666666; padding:0 5px;}
#nav_top a:hover,#nav_top .active{ color:#b1191a;}
.nav_top{ height:30px;}
#nav_top{ background:#f1f1f1;font-size:12px; }
#nav_top li{ float:left; line-height:30px;color:#dfdfdf;}


#top_up{ height:100px;font-size:12px;}
.input{ margin-left:361px;float:left; margin-top:-66px; width:454px; height:32px; border:2px solid #b1191a; font-size:14px; padding-left:4px;color:#666666;}
.so{float:left;margin-left:820px;margin-top:-66px;}
#xiao{width:518px; height:20px; margin-top:20px;margin-left:361px; margin-top:-25px; float:left;}
#xiao li{ line-height:20px;}
#xiao a{  float:left;color:#666666;padding-right:11px;}
#xiao a:hover,#login .auto a:hover{ color:#b1191a;}
.g{ width:139px; height:34px; border:1px solid #dfdfdf; background:#f9f9f9; margin-right:65px; float:right; font-size:12px; line-height:34px; text-align:center; margin-top:-66px;}
.g a{ color:#666666;}
.g a:hover{ color:#b1191a;}
.number{ margin-top:-10px}

#top_bottom{ height:44px; border-bottom:2px solid #b1191a; position:relative;;}
#top_bottom a{ float:left;color:#666666; padding:0 20px; font-size:14px;}
#top_bottom a:hover{ color:#b1191a;}
#top_bottom li{line-height:44px; float:left;}
#top_bottom li.k a{ width:190px;font-size:16px; color:#ffffff; background:#b1191a;padding:0 10px;}	
.wen{  width:140; height:40px;position: absolute;top:0px;right:310px;}

#main{ height:466px;}
#mainList{ width:210px; height:466px; background:#c81623;float:left;}
#mainList p{right:14px; top:9px; height:14px; width:4px; position:absolute;}
#mainList_x{ width:210px; height:31px; border-:1px solid #000; position:relative;color:#ffffff;}
#mainList_x_over{ width:1000px; height:566px;border:1px solid #b1191a; margin-left:210px; background:#CCCCCC; display:none;border:1px solid red;}
#mainList h3{ padding:0 10px; line-height:31px; color:#ffffff; position:absolute; font-weight:inherit;}
#mainList a{color:#ffffff; font-size:14px;}
#mainList_x:hover{ background:#FFFFFF}
#mainList_x:hover a{ color:#b1191a;}
#mainList_x:hover h3{ color:#b1191a;}

.mainPic{ width:60%; height:454px;float:left; margin:12px 10px 0 10px;overflow:hidden; position:relative;}
.mainPic ol{ position:absolute;left:300px; bottom:10px; z-index:2;}
.mainPic ol li{float: left; margin-right: 3px; display: inline; cursor:default; background:#666666; padding: 2px 6px; color:#ffffff; font-size: 12px;font-family: arial;}
.mainPic ul { position: absolute; top: 0; left: 0; z-index: 1; }
.mainPic ul li{ width:730px; height:454px; float:left;}
.mainPic .active { padding: 3px 8px; font-weight: bold; color: #ffffff; background:#b1191a; position: relative; bottom: 2px; }
.mainPic p { width: 28px; height: 62px; line-height:62px; font-family: arial; color: #fff; text-align: center; font-weight: bold; background: #0b8fbf;  position: absolute; top:200px; z-index: 2; cursor: pointer;opacity: 0.3;}
.mainPic .prev { left: 10px;}
.mainPic .next { right: 10px;}

#mainRight{ width:248px; height:453px; border:1px solid #e4e4e4; float:left; margin-top:12px;}
.mainRight_top{ width:250px; height:200px;border-bottom:1px dashed #e8e8e7;}
.mainRight_top_title{padding:0 15px; height:43px; line-height:43px;border-bottom:1px dotted #e8e8e7;}
.mainRight_top_title h2{ font-size:16px; line-height:43px;color:#666666; font-weight:bold; position:absolute;}
.mainRight_top_title_ad{ font-size:12px; color:#666666; float:right;}
.mainRight_top_list{ padding:13px 0 0 15px;}
.mainRight_top_list li{ font-size:12px; color:#666666; margin-right:12px; line-height:27px;}
.mainRight_top_list a,.mainRight_top_title a{ color:#666666;}
.mainRight_top_list span{ font-weight:bold;}

.mainRight_bottom{height:208px;}
.mainRight_bottom_list a{ line-height:28px;text-align:center; padding-top-:41px; width:62px; height:28px; display:block; color:#666666;}
.mainRight_bottom_list span:hover,.mainRight_top_list a:hover,.mainRight_top_title a:hover{ color:#b1191a;}
.mainRight_bottom_list li{width:24.5%; height-:69px; border-right:1px solid #e8e8e7; border-bottom:1px solid #e8e8e7; float:left; display:inline; overflow:hidden;position: relative;text-align: center;}
.mainRight_bottom_list span{ line-height-:28px; text-align:center; font-size:12px; width:61px; height:28px;}
.mainRight_bottom_list li img{ float:left; width:30%; padding:22px 16px 0 20px;}

#mainBottom{ height:184px; margin-top:8px; }
.mainBotom_pic li{width:250px; height:164px;float:left; display:inline; overflow:hidden;}
.mainBotom_pic li img{ width:249px;; margin-right:1px;}
.mainBotom_clock{ width:210px; height:151px; background:#9966FF;float:left; display:block;}

#tail{ height:457px;}
#tail_top{ height:94px;background:#f5f5f5; margin-bottom:10px;}
#tail_top img{ width:90%;}
#tail_middle{ line-height:24px;}
#tail_middle a{ color:#666666;line-height:20px;}
#tail_middle a:hover{ color:#b1191a;}
#tail_middle dt{ width:199px; height:24px;padding:6px 0; font-size:16px; color:#666666; font-weight:bolder;}
#tail_middle dd{ font-size:12px;color:#666666;}
.tail_dl5 p{ font-size:12px; color:#666666; margin-top:15px; line-height:20px;}
.tail_dl5 dd{ line-height:20px; font-size:12px; float:right;}
.tail_dl,.tail_dl1,.tail_dl2,.tail_dl3,.tail_dl4,.tail_dl5{ width:199px; float:left;}
#tail_up{ height:276px; margin-bottom:20px;}
#tail_down{ height:143px; border-top:1px solid #666666; padding:20px 0 30px 0;}
#tail_down .link,#register_nav_tail .link{ height:18px;text-align:center; font-size:14px; color:#666666;}
#tail_down .link a,#register_nav_tail .link a{margin:0 12px 0 10px;color:#666666;}
#tail_down .link a:hover,#tail_down .middle a:hover,#register_nav_tail .link a:hover{ color:red;text-decoration:underline;}
#tail_down .middle,.link_b{text-align:center; font-size:12px; color:#666666; margin: 10px 0; line-height:18px;}
#tail_down .middle a{color:#666666;line-height:24px;}
#tail_down .bottom{ height:32px; text-align:center;line-height:24px;}
#tail_down .bottom a{  text-align:center; margin:0 5px;line-height:24px;}

/*-------------------------------     注册      ----------------------------------------------*/
#register_nav{ background:#fafafa;}
.register_nav{ height:30px;font-size:12px; color:#333333; border-bottom:1px solid #eeeeee;}
.register_nav .li1{  line-height:30px; float:left; padding:0 5px;}
.register_nav li img{ padding:8px 0 0 0 ; width:13px; height:13px;}
.register_nav li a{font-size:12px; color:#333333;padding:0 5px;}
.register_nav li a:hover{ color:#b1191a}
.register_nav .li2{line-height:30px; float:right;}

#register_nav_bottom{ height:60px; padding:10px 0;}
#register_nav_bottom a{ float:left;}
#register_nav_bottom span{ float:left; font-size:24px; line-height:60px; color:#333333; border-left:1px solid #e0e0e0; margin-left:5px; padding-left:10px;}
#register_nav_button{ height:33px;}
#register_nav_button ul{ padding-left:300px; background:#009900}
#register_nav_button li{ height:30px; margin:3px 5px 0 0; font-size:14px; line-height:28px; border:1px solid #dddddd; overflow:hidden; padding:0 20px; border-bottom: none;}
#register_nav_button a{  height:38px; display:block;}
#register_nav_button span{ float:right; padding-right:20px; display:inline; line-height:40px;}
#register_nav_button span a{ float:right; padding-left:10px; color:#005aa0;}
#register_nav_button span a:hover{ text-decoration:underline;}
#register_nav_button li:hover{ background:#fff; border-bottom:1px solid #fff; position:relative; color:red; font-weight:inherit; font-size:14px;margin:2px 5px 0 0;line-height:29x; height:31px}
#register_nav_tail{ height:66px; padding:20px;}

#register{ background:#ffffff; width:988px; height:514px; border:1px solid #dddddd;padding:30px 0 20px;}
#register .user_name,#register .password,#register .confirm_password,#register .phone_verification,#register .verification_code,#register .submit{ width:750px; height:60px; padding-top:9px; position:relative;}
{ width:7px; height:8px; background:url(img/登录/login_w.gif) no-repeat; position:absolute; top:23px;}
.user_name input,.password input,.confirm_password input,.phone_verification input{ width:244px; height:34px; font-size:14px; line-height:16px; padding-left:24px; border:1px solid #CCC; line-height:34px;}
#register .submit input{ width:270px; height:36px; font-size:14px; line-height:28px; background:#e54044; color:#fffeff;border:1px solid #CCC;}
.verification_code input{width:128px; height:34px; font-size:14px;border:1px solid #CCC; line-height:34px; padding-left:5px;}
.verification_code i{ font-size:14px; font-family:Arial, Helvetica, sans-serif; font-style:normal;}
#register .agreement{ width:750px; height:49px; }
#register .lable{ font-size:14px; line-height:49px; color:#333333;}
#register .lable a{ color:#005aa0;}
.verification_code a{ color:#005ea7;}
#register img{ width:16px; height:17px; position:absolute; padding-top:10px; padding-left:5px;}
#register span{ width:190px; height:38px; display:block; float:left; text-align:right; padding-right:10px; line-height:36px; color:#999999; }
#register .agreement span,#register .submit span{ background:none;} 
.p{ width:180px; height:180px;  position:relative; top:-450px; left:700px; background:url(img/登录/p.gif) no-repeat ;}



/*-------------------------------    登录      ----------------------------------------------*/
#login_top{ height:80px; background: url(../img/登录/jd.gif) no-repeat 0;}
#login{ height:473px;background:#6921ff;}
#login .login_t{ width:304px; height:27px;}
#login .login_t span{ position:absolute; float:right; top:25px; right:20px;}
#login .login_t h3{ color:#666666; display:inline; font-weight:normal;}
#login .login_t a{ font-size:14px; color:#b1191a;}
#login .login_t a:hover {text-decoration:underline;font-size:16px; color:#b1191a;}
#login .right{ width:306px; height:317px; border:none; background:#ffffff;left:800px; position:absolute; top:120px; padding:20px;}
#login .prompt{ width:304px; height:24px; border: 1px solid #ffe57d; background:#fff6d2; margin:5px 0 10px 0; font-size:12px; color:#666666; text-align:center; line-height:24px;}
.prompt p{ background:url(../img/登录/login_prompt.gif) no-repeat; width:17px; height:24px; position:absolute;left:30px; top:53px;}
#login .login_user{ width:304px; height:38px; border: 1px solid #bdbdbd; margin-bottom:20px;}
.login_user .img{ width:38px; height:38px; background:url(../img/登录/login_user.gif) no-repeat; border-right:1px solid #bdbdbd; position:absolute;}
#login .login_password{ width:304px; height:38px; border: 1px solid #bdbdbd; margin-bottom:20px;}
.login_password .img{ width:38px; height:38px; background:url(../img/登录/login_password.gif) no-repeat; border-right:1px solid #bdbdbd; position:absolute;}
.login_user input,.login_password input{ width:259px; border:none; font-size:14px; line-height:18px; height:18px; padding:9px 0 9px 45px; overflow:hidden;}
#login .auto{ height:18px; font-size:12px; color:#666666; line-height:18px; margin-bottom:15px; }
#login .auto span{ margin-right:10px;}
#login .auto a{ color:#666666; position:relative;}
#login .auto input{ vertical-align:middle; margin-top:-2px;}
.login_submit input{width:304px; height:33px;background:#e4393c; color:#f8f2ff;border:none; font-size:20px; margin-bottom:10px;}
#login .login_b h5{ font-weight:normal; line-height:22px; color:#999999}
#login .login_b ul{ line-height:22px; height:22px; }
#login .login_b a,span,dt,li{ font-size:12px; color:#666666; float:left;}
#login .login_b dt{ width:45px; height:22px;}
#login .login_b a:hover{text-decoration:underline; color:#b1191a;}
#login .login_b span{ padding:0 10px;}
#login .login_b li p{ background:url(img/登录/login_b.gif) no-repeat; position:absolute; bottom:38px; width:9px; height:6px; margin-left:10px; display:inline-block; overflow:hidden;}

/*---------------------------------------------------   订单    -----------------------------------------------*/

#order_nav{ background:#fafafa;}
.order_nav{ height:30px;font-size:12px; color:#333333;}
.order_nav .li1{  line-height:30px; float:left; padding:0 5px;}
.order_nav li img{ padding:8px 0 0 0 ; width:13px; height:13px;}
.order_nav li a,#order_top .hotsearch a{font-size:12px; color:#686868;padding:0 5px;}
.order_nav li a:hover{ color:#b1191a}
.order_nav .li2{line-height:30px; float:right;}

#order_top{ height:60px;padding:15px 0;}
#order_top .jd{ width:330px;height:60px; float:left;}
#order_top .search{ width:313px; height:56px;float:left; padding:4px 103px 0 0;}
#order_top .search input{ padding:5px; width:216px; height:20px; border:none;}
#order_top .search .button{ width:78px; height:30px; border:none; background:#e4393c; color:#ffffff; font-size:14px; font-weight:900}
#order_top .search_h{ border:3px solid #e3393c; width:304px; height:30px;}
#order_top .hotsearch{ width:313px; height:18px;float-:left; color:#999999; padding-top:3px;}
#order_top .hotsearch a{ height:18px; line-height:18px;}
#order_top .hotsearch a:hover,#order_top .order_myjd a:hover,#order_top .order_settlement a:hover{text-decoration:underline;font-size:12px; color:red;}
#order_top .order_myjd{ width:104px; height:30px; background:#f7f7f7; float:left; border:1px solid #efefef; margin-top:12px;}
#order_top .order_myjd i,#order_top .order_settlement i{ width:20px; height:20px; position:relative;top:5px; left:5px;}
#order_top .order_settlement l{width:20px; height:20px; position:absolute;top:50px;}
#order_top .order_myjd b,#order_top .order_settlement b{ width:10px; height:10px;position:relative;top:10px; right:5px;}
#order_top .order_settlement{ width:124px; height:30px; background:#f7f7f7; float:right;border:1px solid #efefef; margin-top:12px;}
#order_top .order_myjd a,#order_top .order_settlement a{font-size:12px; color:#666666; line-height:30px; text-align:center; padding:0 10px; height:30px;}

#order_mi .m{ width:190px; height:40px; background:#cd2a2c; display:inline-block; line-height:40px; color:#ffffff; font-size:14px; padding-left:20px; font-weight:bolder}
#order_mi a:hover{ text-decoration:underline;}
#order_mi c{ width:12px; height:8px; position:relative;top:15px; left:75px;}
#order_mi ul{ width:780px; height:40px; background:#e54043; float:right; line-height:40px;}
#order_mi li{ width:85px;height:40px; text-align:center;}
#order_mi li a{ font-size:14px; color:#FFFFFF;width:85px;height:40px; display:inline-block;font-weight:bold}
#order_mi li a:hover{ background:#9966FF; text-decoration:none;}
#order_main{background:#f5f5f5;}
