#about {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    top: -140%;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.1);
}
#about .down{
	margin: 10px 0;
}
#about .down a{text-decoration: none;
    color: #9f3;
    font-size: 20px;
    font-weight: 700;
	transition: 0.5s;}
#about .down a:hover{
	color: #008a75;
}
.moun {
    position: absolute;
    width: 120%;
    bottom: 0;
    left: 0;
    height: 232px;
}

.mountain_s {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -10%;
    background: url(../images/sky-mountains.png) repeat-x;
}
#about .facesWrap{
    position: absolute;
    transform:rotateX(0deg) rotateY(0deg) translateZ(0deg);
    width:100%;
    height:100%;
    transition:0.2s;

}

#about .cloud {
    width: 100%;
    position: absolute;
    height: 600px;
}

#about .cloud div {
    position: absolute;
}

.right .faces {
    position: absolute;
    top: 50%;
    left: 50%;
}

.faces div {
    transform-origin: 50px 50px;

    transition: 1s;
}

.faces1,
.faces2,
.faces3,
.faces4 {
    position: absolute;
    opacity: 0;
}

.faces1 .l {
    position: absolute;
    top: -150px;
    left: -130px;
    width: 260px;
    height: 378px;
    background: url(../images/sprite-face-melon.png) no-repeat;
    background-position: 0 0;
}

.faces1 .tf {
    position: absolute;
    top: -200px;
    left: -158px;
    width: 317px;
    height: 336px;
    background: url(../images/sprite-face-melon.png) no-repeat;
    background-position: 4px -380px;
}

.faces1 .bizi {
    position: absolute;
    left: -19px;
    top: 16px;
    width: 39px;
    height: 84px;
    background: url(../images/sprite-face-melon.png) no-repeat;
    background-position: -261px 0px;
}

.faces1 .erL {
    position: absolute;
    left: -140px;
    top: 30px;
    width: 30px;
    height: 80px;
    background: url(../images/sprite-face-melon.png) no-repeat;
    background-position: -330px 0px;
}

.faces1 .erR {
    position: absolute;
    top: 30px;
    left: 110px;
    width: 30px;
    height: 80px;
    background: url(../images/sprite-face-melon.png) no-repeat;
    background-position: -300px 0px;
}

.faces1 .zui {
    position: absolute;
    width: 87px;
    height: 33px;
    left: -43px;
    top: 135px;
    background: url(../images/sprite-face-melon.png) no-repeat;
    background-position: -261px -84px;
}

.faces1 .tf1 {
    position: absolute;
    top: -245px;
    left: -180px;
    width: 369px;
    height: 348px;
    background: url(../images/sprite-face-melon.png) no-repeat;
    background-position: -363px 0px;
}

.faces1 .tf2 {
    position: absolute;
    top: -250px;
    left: -165px;
    width: 329px;
    height: 336px;
    background: url(../images/sprite-face-melon.png) no-repeat;
    background-position: -312px -350px;
}


/* faces2*/

.faces2 .l {
    position: absolute;
    top: -150px;
    left: -130px;
    width: 261px;
    height: 381px;
    background: url(../images/sprite-face-pete.png) no-repeat;
    background-position: 0 -254px;
}

.faces2 .tf {
    position: absolute;
    top: -190px;
    left: -192px;
    width: 369px;
    height: 320px;
    background: url(../images/sprite-face-pete.png) no-repeat;
    background-position: 0px -634px;
}

.faces2 .tf1 {
    position: absolute;
    top: -220px;
    left: -200px;
    width: 384px;
    height: 255px;
    background: url(../images/sprite-face-pete.png) no-repeat;
    background-position: 0px 0px;
}

.faces2 .bizi {
    position: absolute;
    left: -19px;
    top: 16px;
    width: 39px;
    height: 84px;
    background: url(../images/sprite-face-pete.png) no-repeat;
    background-position: -261px -256px;
}

.faces2 .erL {
    position: absolute;
    left: -140px;
    top: 30px;
    width: 30px;
    height: 80px;
    background: url(../images/sprite-face-pete.png) no-repeat;
    background-position: -331px -255px;
}

.faces2 .erR {
    position: absolute;
    top: 30px;
    left: 110px;
    width: 30px;
    height: 80px;
    background: url(../images/sprite-face-pete.png) no-repeat;
    background-position: -302px -255px;
}

.faces2 .zui {
    position: absolute;
    width: 87px;
    height: 33px;
    left: -43px;
    top: 135px;
    background: url(../images/sprite-face-pete.png) no-repeat;
    background-position: -261px -340px;
}


/* faces3*/

.faces3 .l {
    position: absolute;
    top: -150px;
    left: -120px;
    width: 261px;
    height: 381px;
    background: url(../images/sprite-face-alien.png) no-repeat;
    background-position: 0 -254px;
}

.faces3 .tf {
    position: absolute;
    top: -190px;
    left: -190px;
    width: 394px;
    height: 322px;
    background: url(../images/sprite-face-alien.png) no-repeat;
    background-position: 0px -665px;
}

.faces3 .tf1 {
    position: absolute;
    top: -220px;
    left: -185px;
    width: 384px;
    height: 255px;
    background: url(../images/sprite-face-alien.png) no-repeat;
    background-position: 0px 0px;
}

.faces3 .bizi {
    position: absolute;
    left: -10px;
    top: 16px;
    width: 39px;
    height: 84px;
    background: url(../images/sprite-face-alien.png) no-repeat;
    background-position: -335px -256px;
}

.faces3 .erL {
    position: absolute;
    left: -150px;
    top: 50px;
    width: 66px;
    height: 48px;
    background: url(../images/sprite-face-alien.png) no-repeat;
    background-position: -261px -255px;
}

.faces3 .erR {
    position: absolute;
    top: 50px;
    left: 135px;
    width: 55px;
    height: 48px;
    background: url(../images/sprite-face-alien.png) no-repeat;
    background-position: -280px -302px;
}

.faces3 .eyeL {
    position: absolute;
    left: -90px;
    top: -110px;
    width: 48px;
    height: 165px;
    background: url(../images/sprite-face-alien.png) no-repeat;
    background-position: -260px -385px;
}

.faces3 .eyeR {
    position: absolute;
    width: 48px;
    height: 165px;
    left: 60px;
    top: -110px;
    background: url(../images/sprite-face-alien.png) no-repeat;
    background-position: -309px -384px;
}

.faces3 .eyesL {
    position: absolute;
    top: -150px;
    left: -135px;
    width: 116px;
    height: 116px;
    background: url(../images/sprite-face-alien.png) no-repeat;
    background-position: -261px -549px;
}

.faces3 .eyesR {
    position: absolute;
    width: 116px;
    height: 116px;
    top: -150px;
    left: 25px;
    background: url(../images/sprite-face-alien.png) no-repeat;
    background-position: -261px -549px;
}

.faces3 .zui {
    position: absolute;
    width: 87px;
    height: 33px;
    left: -33px;
    top: 140px;
    background: url(../images/sprite-face-alien.png) no-repeat;
    background-position: -261px -351px;
}


/* faces4 */

.faces4 .l {
    position: absolute;
    top: -150px;
    left: -130px;
    width: 261px;
    height: 381px;
    background: url(../images/sprite-face-presenter.png) no-repeat;
    background-position: 0 -254px;
}

.faces4 .tf {
    position: absolute;
    top: -190px;
    left: -192px;
    width: 369px;
    height: 318px;
    background: url(../images/sprite-face-presenter.png) no-repeat;
    background-position: 0px -790px;
}

.faces4 .tf1 {
    position: absolute;
    top: -220px;
    left: -200px;
    width: 384px;
    height: 255px;
    background: url(../images/sprite-face-presenter.png) no-repeat;
    background-position: 0px 0px;
}

.faces4 .tf1-1 {
    width: 133px;
    height: 79px;
    top: -70px;
    z-index: 2;
    right: -90px;
    position: absolute;
    background: url(../images/sprite-face-presenter.png) no-repeat;
    background-position: -260px -336px;
}

.faces4 .bizi {
    position: absolute;
    left: -105px;
    top: -60px;
    width: 205px;
    height: 150px;
    background: url(../images/sprite-face-presenter.png) no-repeat;
    background-position: 0px -637px;
}

.faces4 .erL {
    position: absolute;
    left: -140px;
    top: 30px;
    width: 30px;
    height: 80px;
    background: url(../images/sprite-face-presenter.png) no-repeat;
    background-position: -261px -255px;
}

.faces4 .erR {
    position: absolute;
    top: 30px;
    left: 114px;
    width: 30px;
    height: 80px;
    background: url(../images/sprite-face-presenter.png) no-repeat;
    background-position: -291px -255px;
}

.faces4 .zui {
    position: absolute;
    width: 41px;
    height: 41px;
    left: -23px;
    top: 135px;
    background: url(../images/sprite-face-presenter.png) no-repeat;
    background-position: -336px -256px;
}

.faces4 .zui-1 {
    position: absolute;
    width: 13px;
    height: 13px;
    left: -43px;
    top: 150px;
    background: url(../images/sprite-face-presenter.png) no-repeat;
    background-position: -323px -256px;
}

.faces4 .eyeL {
    position: absolute;
    left: -130px;
    top: -220px;
    width: 78px;
    height: 150px;
    background: url(../images/sprite-face-presenter.png) no-repeat;
    background-position: -260px -416px;
}

.faces4 .eyeR {
    position: absolute;
    width: 78px;
    height: 150px;
    left: 60px;
    top: -220px;
    background: url(../images/sprite-face-presenter.png) no-repeat;
    background-position: -261px -566px;
}

.faces4 .eyesL {
    position: absolute;
    top: -225px;
    left: -135px;
    width: 31px;
    height: 31px;
    background: url(../images/sprite-face-presenter.png) no-repeat;
    background-position: -338px -415px;
}

.faces4 .eyesR {
    position: absolute;
    width: 31px;
    height: 31px;
    top: -225px;
    left: 115px;
    background: url(../images/sprite-face-presenter.png) no-repeat;
    background-position: -338px -415px;
}

.right .tab {
    position: relative;
    max-width: 520px;
    padding-bottom: 20px;
}
